<?xml version="1.0"?>
<!--
/******************************************************
 * Package   : Vbout
 * Author    : MMG
 * Copyright : (c) 2019
*******************************************************/
-->
<config>
    <modules>
        <Vbout_Vbout>
            <version>1.0.0</version>
        </Vbout_Vbout>
    </modules>
    <frontend>
        <routers>
            <vbout>
                <use>standard</use>
                <args>
                    <module>Vbout_Vbout</module>
                    <frontName>Vbout</frontName>
                </args>
            </vbout>
        </routers>
        <layout>
            <updates>
                <vbout>
                    <file>vbout_vbout.xml</file>
                </vbout>
            </updates>
        </layout>
        <events>sendAPIIntegrationCreation
            <customer_register_success>
                <observers>
                    <vbout_customer_register_success>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>customerRegisterSuccess</method>
                    </vbout_customer_register_success>
                </observers>
            </customer_register_success>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <vbout_checkout_type_onepage_save_order_after>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>checkoutCartOrderCreate</method>
                    </vbout_checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_cart_save_after>
                <observers>
                    <vbout_cart_success>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>cartCheckoutCreate</method>
                    </vbout_cart_success>
                </observers>
            </checkout_cart_save_after>
            <sales_quote_item_delete_after>
                <observers>
                    <vbout_cart_success>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>cartRemoveItem</method>
                    </vbout_cart_success>
                </observers>
            </sales_quote_item_delete_after>

            <abstract_search_result_load_before>
                <observers>
                    <vbout_search_query>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>productSearchQuery</method>
                    </vbout_search_query>
                </observers>
            </abstract_search_result_load_before>
            <catalog_controller_product_view>
                <observers>
                    <vbout_catalog_controller_product_view>
                        <class>vbout/observer</class>
                        <method>productView</method>
                    </vbout_catalog_controller_product_view>
                </observers>
            </catalog_controller_product_view>
            <checkout_submit_all_after>
                <observers>
                    <vbout_sales_order_place_after>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </vbout_sales_order_place_after>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <vbout>
                <use>admin</use>
                <args>
                    <module>Vbout_Vbout</module>
                    <frontName>vbout</frontName>
                </args>
            </vbout>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <vbout_catalog_product_save_after>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </vbout_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
        <layout>
            <updates>
                <vbout>
                    <file>vbout_vbout.xml</file>
                </vbout>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <vbout>
                <class>Vbout_Vbout_Model</class>
            </vbout>
        </models>
        <resources>
            <vbout_setup>
                <setup>
                    <module>Vbout_Vbout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vbout_setup>
            <vbout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vbout_write>
            <vbout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vbout_read>
        </resources>
        <blocks>
            <vbout>
                <class>Vbout_Vbout_Block</class>
            </vbout>
        </blocks>
        <helpers>
            <vbout>
                <class>Vbout_Vbout_Helper</class>
            </vbout>
        </helpers>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <vbout_init_system_config>
                        <class>vbout/adminhtml_observer</class>
                        <method>customSystemConfig</method>
                    </vbout_init_system_config>
                </observers>
            </adminhtml_init_system_config>
<!--            <controller_action_predispatch_adminhtml_sales_order_edit_index>-->
<!--                <observers>-->
<!--                    <vbout_controller_action_predispatch_adminhtml_sales_order_edit_index>-->
<!--                        <type>singleton</type>-->
<!--                        <class>vbout/observer</class>-->
<!--                        <method>adminUpdateOrder</method>-->
<!--                    </vbout_controller_action_predispatch_adminhtml_sales_order_edit_index>-->
<!--                </observers>-->
<!--            </controller_action_predispatch_adminhtml_sales_order_edit_index>-->
            <sales_order_save_commit_after>
                <observers>
                    <vbout_sales_order_save_commit_after>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>adminUpdateOrder</method>
                    </vbout_sales_order_save_commit_after>
                </observers>
            </sales_order_save_commit_after>
            <controller_action_layout_load_before>
                <observers>
                    <vbout_search_query>
                        <type>singleton</type>
                        <class>vbout/observer</class>
                        <method>productSearchQuery</method>
                    </vbout_search_query>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <default>
        <vbout>
            <general_settings>
                <include_jquery>1</include_jquery>
            </general_settings>
        </vbout>
    </default>
</config>